# Tarea Redes Neuronales
## Grupos de 3 personas
### Entregas atrasadas pierden 1 punto por hora. Si alguien entrega a las 00:00:01 implica que pierde 1 punto en la nota final. Recomendación, entregue una versión inicial cerca de las 22 horas y luego suba las modificaciones.

La NASA mantiene la información de varios cometas y quiere determinar alguna manera de predecir el diametro de un cometa. Específicamente, han analizado en forma manual una muestra de 100,000 asteroides. Los datos consisten en 26 variables, con distinta información como por ejemplo nombre del asteroide, su periodo orbital, su periodo de rotación, etc. Todos los datos existentes, se encuentran en un puro archivo llamado asteroidTrain.csv. Mientras que las descripciones de cada una de las variables se encuentran en el archivo tareaInformacion.txt

Desafortunadamente, la NASA todavía no ha evaluado 37.681 asteroides y no tienen tiempo para realizarlo. Por lo mismo, le piden que aplique una red neuronal feed forward para obtener una predicción de estos asteroides.

1. Lea los datos y borre las variables/asteroides que estime necesario. En caso que crea que la base de datos todavía es demasiado grande para aplicar una red neruonal, usted puede tomar una muestra de la misma. NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. Una vez generado estos datos, guarde la base de datos final en un nuevo archivo csv (1.5 puntos).
2. Entrene un modelo feed forward. Realice una busqueda de hiperparámetros incluyendo número de capas, número de  neuronas, funciones de activación, epocas, etc. Seleccione un modelo final (justificando a través de una evaluación correcta los hiperarametros seleccionados (2.5 puntos). NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. 
3. Utilice el modelo seleccionado en el punto anterior y evalue los 37,681 asteroides que la NASA no ha evaluado. En este proceso genere un archivo csv de una sola columna con 37,681 filas donde cada celda tendrá el valor del cometa a predecir (2 puntos). Atención, si ustedes entrega un archivo con un número distinto de filas, de igual manera se evaluará las 37,681 filas.

El punto de evaluación final será una competencia entre todas las tareas basados en los MSE más bajos y altos obtenido por cada grupo. El puntaje final será una regresión lineal entre un modelo muy básico y el mejor puntaje.

Para esta entrega usted deberá entregar 4 archivos
1. Un archivo ipynb que muestre todo el proceso de selección de variables y limpieza de datos aplicados. Además, deberá mostrar la búsqueda de hiperparametros. Este archivo ya deberá haber sido ejecutado y cuando se cargué uno debera ver todo el proceso de ejecución. 
2. Un nuevo archivo CSV que contenga la base de datos luego de la limpieza generada en el primer punto de la tarea.
3. Un archivo ipynb limpio que simplemente cargue la nueva base de datos, entrene el modelo con los hiperparametros seleccionados y genere el archivo csv con las 37,681 estimaciones. Este archivo permitirá ver la replicabilidad de su archivo csv. 
4. Un archivo csv con las 37,681 estimaciones realizadas para el modelo.

In [3]:
import numpy as np
import pandas as pd
from plotnine import *

In [4]:
df = pd.read_csv("asteroidTrain.csv")

C:\Users\matia\AppData\Local\Temp\ipykernel_17968\3617930021.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.

In [5]:
df.inf

,full_name,a,e,G,i,om,w,q,ad,per_y,...,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo,pha,moid
0,97632 (2000 EL145),3.069866,0.184417,NaN,3.620920,308.458533,249.570070,2.503729,3.636003,5.378824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.50522
1,49808 (1999 XD40),2.386539,0.104566,NaN,13.003513,105.866881,329.104052,2.136988,2.636089,3.686897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.16197
2,390390 (2013 WC84),3.018175,0.084529,NaN,14.247933,245.449168,115.242451,2.763053,3.273297,5.243544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.79743
3,14319 (1978 US5),2.793049,0.290215,NaN,16.677722,17.862425,287.769691,1.982465,3.603633,4.667948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.04034
4,321079 (2008 SW97),2.721394,0.098602,NaN,1.975506,271.706257,248.448520,2.453059,2.989728,4.489472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.46299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,376501 (2012 KN42),3.161511,0.166092,NaN,28.442710,224.796987,2.422644,2.636410,3.686612,5.621475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.62746
99996,322401 (2011 QC97),2.715932,0.239266,NaN,16.789523,34.531718,44.097353,2.066102,3.365761,4.475963,...,21.13,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.11044
99997,410630 (2008 RD19),3.188786,0.278970,NaN,15.177104,188.342499,255.934423,2.299209,4.078363,5.694376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.36906
99998,81593 (2000 HC52),2.754535,0.106028,NaN,8.758664,230.483443,34.567890,2.462477,3.046593,4.571730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.45246
99999,3990 Heimdal (1987 SO3),3.940892,0.241022,NaN,9.495628,192.657992,197.808221,2.991051,4.890732,7.823479,...,20.00,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.99740